*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* comon selector */
a{
    text-decoration: none;
}
header{
     background-color: #3b4d16;;
      display: flex;
      align-items: center;
      padding: 15px;
}
header a{
    color: white;
}

header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
#logo{
    margin: 0 auto;
font-size: 25px;
}
#menu li{
    padding: 10px;
}
#sociallink li{
    padding: 10px;
}
#sociallink img{
    width: 20px;
   color: white;
}


#main{
    display: flex;
  
}

 aside{
    flex: 0 0 20vw;
    background-color: beige;
padding: 10px; 
}
article{
    padding: 10px;
}
.servicec{
    display: flex;
    justify-content: space-between ;
}
.servicebox{
    border: 1px solid lightgray;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.servicebox img{
    width: 100%; 
}

aside ul{
    list-style: none;
    padding: 0;
    
}
aside  img{
    width: 100%;
}
aside ul a {
color: #3b4d16 ;
padding: 10px;
display: block;
border-bottom: 1px solid grey;
}

.action a{
    background-color: grey;
    color: white;
    padding: 8px 13px;
    /* display: block; */
}
.action{
    align-self: flex-start;
    margin-top: auto;
}

.action  a:hover{
 border: 2px solid grey;
 color: black;
 background-color: transparent;

}

footer{
    text-align: center;
    background-color: #3b4d16 ;
    color: white;
    padding: 15px;
}